<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/moviecard.css">
    <title>Mov!e BUZZ</title>
</head>
<body>
    <form action="/logout">
        <button class="btn-home">
            Logout
          </button>
    </form>
    <h1>Now Playing..</h1><br><br><br>
    <h2 style="margin-left: 5%;">Screen 1</h2><br>
    <ul>
    <li class="booking-card" style="background-image: url(https://cdn11.bigcommerce.com/s-ydriczk/images/stencil/1280x1280/products/88997/93196/Avengers-Endgame-Final-Style-Poster-buy-original-movie-posters-at-starstills__42370.1563973516.jpg?c=2)">
        <div class="book-container">
        <div class="content">
            <a href="/views/avengers"><button class="btn" >Book Now!</button></a>
        </div>
        </div>
        <div class="informations-container">
        <h2 class="title">Avengers-Endgame</h2>
        <p class="sub-title"><pre>
    Language : English(U) 

   Time : 5th May 7AM

        </pre></p>
        <p class="disclaimer">The grave course of events set in motion by Thanos that wiped out half the universe and fractured the Avengers ranks compels the remaining Avengers to take one final stand in Marvel Studios` grand conclusion to twenty-two films, "Avengers: Endgame."</p>
                
        </div>
    </li>
    <li class="booking-card" style="background-image: url(https://m.media-amazon.com/images/M/MV5BNGY2YjgzMzMtNjYzZS00N2JhLTljNjUtZDMxYzZlYmZjMDUxXkEyXkFqcGdeQXVyNTgxODY5ODI@._V1_.jpg)">
        <div class="book-container">
        <div class="content">
            <a href="/views/pushpa"> <button class="btn">Book Now!</button></a>
        </div>
        </div>
        <div class="informations-container">
        <h2 class="title">Pushpa</h2>
        <p class="sub-title"><pre>
    Language : Telugu(U/A) 

   Time : 5th May 3PM

        </pre></p>
        <p class="disclaimer">Based on the smuggling of red sander trees in Seshachalam forest, Andhra Pradesh, Pushpa tells the story of a lorry driver who is part of the illegal business.</p>
                
        </div>
    </li>
    <li class="booking-card" style="background-image: url(https://www.deccanherald.com/sites/dh/files/articleimages/2020/11/16/file79eu5fnczvr1e74ix3eg-914541-1605524324.jpg)">
        <div class="book-container">
        <div class="content">
            <a href="/views/sooraraipotru"><button class="btn">Book Now!</button></a>
        </div>
        </div>
        <div class="informations-container">
        <h2 class="title">Soorarai Pottru</h2>
        <p class="sub-title"><pre>
    Language : Tamil(U/A) 

   Time : 6th May 9AM

        </pre></p>
        <p class="disclaimer">Based on a true story, Soorarai Pottru talks about Maara, the son of a teacher who sets out to fulfill the common man`s flying dream by making a low-cost airline.</p>
                
        </div>
    </li>
    </ul> <br><br>


    <h2 style="margin-left: 5%;">Screen 2</h2><br>
    <ul>
    <li class="booking-card" style="background-image: url(https://1.bp.blogspot.com/-cQB5m_coukY/XLlejYZ0ZcI/AAAAAAABBCA/iDKWr7vCNskllPbH7qkbVYttl7sO6ZxKgCLcBGAs/s1600/salman-khan-bharat-5.jpg)">
        <div class="book-container">
        <div class="content">
            <a href="/views/bharat"> <button class="btn">Book Now!</button></a>
        </div>
        </div>
        <div class="informations-container">
        <h2 class="title">Bharat</h2>
        <p class="sub-title"><pre>
    Language : Hindi(U) 

   Time : 5th May 9AM

        </pre></p>
        <p class="disclaimer">This is the journey of a man and a nation together, beginning at the cusp of India`s birth as an Independent nation. Starring Salman Khan in the title role, Bharat is an endearing film about a man`s sacrifices to fulfill a promise made to his father.</p>
                
        </div>
    </li>
    <li class="booking-card" style="background-image: url(https://www.sify.com/uploads/The_Priest_umxhj8jfiaddb.jpeg)">
        <div class="book-container">
        <div class="content">
            <a href="/views/thePriest"><button class="btn">Book Now!</button></a>
        </div>
        </div>
        <div class="informations-container">
        <h2 class="title">The Priest</h2>
        <p class="sub-title"><pre>
    Language : Malayalam(U/A) 

   Time : 5th May 7PM

        </pre></p>
        <p class="disclaimer">A priest with extraordinary skills to solve cold cases gets on the trail of his new case. Will he be able to crack this?</p>
                
        </div>
    </li>
    <li class="booking-card" style="background-image: url(https://cdn11.bigcommerce.com/s-ydriczk/images/stencil/1280x1280/products/88997/93196/Avengers-Endgame-Final-Style-Poster-buy-original-movie-posters-at-starstills__42370.1563973516.jpg?c=2)">
        <div class="book-container">
        <div class="content">
            <a href="/views/avengersTelugu"><button class="btn">Book Now!</button></a>
        </div>
        </div>
        <div class="informations-container">
        <h2 class="title">Avengers-Endgame</h2>
        <p class="sub-title"><pre>
    Language : Telugu(U) 

   Time : 6th May 1PM

        </pre></p>
        <p class="disclaimer">The grave course of events set in motion by Thanos that wiped out half the universe and fractured the Avengers ranks compels the remaining Avengers to take one final stand in Marvel Studios` grand conclusion to twenty-two films, "Avengers: Endgame."</p>
                
        </div>
    </li>
    </ul> 
</body>
</html>